
$CTA_active: #4788c7;
$CTA_disabled: #425277;
$shape_dark: #141b2c;
$shape_light: #cbddf0;
$success: #82c94e;
$text_light: #cbddf0;
$shapes_border_radius: 12px;
$btn_disabled__color: #425277;
$btn_disabled__bg: #212944;
$btn_enabled__color:  $text_light;
$btn_enabled__bg: $CTA_active;
$btn_enabled__bg--hover: #75aee3;